---
/* eslint import/no-unresolved: off */
import { getCollection } from "astro:content";
import Layout from "../layout/index.astro";

const places = await getCollection("place");
const href = (id: string) => {
  if (import.meta.env.PROD) return `/canvasmap/${id}`;
  return `/${id}`;
}
---

<Layout title="Astro with CanvasMap">
  <h1>Astro with CanvasMap</h1>
  <ul>
    {
      places.map(({ id, data }) => (
        <li>
          <a href={href(id)}>
            <h2>{data.name}</h2>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
